.panelBtns{
  color: #8b84cc;
  background-color: transparent;
  font-size: 1em;
  margin: 0;
  width: 100%;
  border: 0;
}
.panelBtns:hover{
  color: #fff;
  cursor: pointer;
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none !important;
}

.contentHeader  li,.contentHeader ul,.contentHeader input{
  height: inherit;
  width: 100%;
  font-size: 1em;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.contentHeader input{
  height: 40px;
  font-size: 1rem;
}
form{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
  flex-wrap: wrap;
}
input{
  width: 60%;
  margin:20px;

}
.loginBtn{
  width: 60%;
  margin: auto;
}

.contentInerQuestion{
  min-height: 200px;
}
